{%load static%}

<!doctype html>
<html lang="en">

  <head>
    <title>Lavender &mdash;Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'fonts/icomoon/style.css'%}">

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/animate.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/jquery.fancybox.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{%static 'fonts/flaticon/font/flaticon.css'%}">
    <link rel="stylesheet" href="{%static 'css/aos.css'%}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


.vl {
  border: 1px solid gray;
  height: 0.5px;
  width: 500px;
  margin: 0px;
  top: 0;
   margin-left: -9px;
}
.div2 {
  width: 500px;
  height: 250px;
  padding: 50px;
  border: 1px solid gray;
}

.dropdown-submenu 
{
position: relative;
}
          
.dropdown-submenu .dropdown-menu {
top: 0;
left: 100%;
margin-top: -1px;
}

</style>
  </head>
  <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="col-lg-0">
              <nav class="site-navigation text-right ml-auto " role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li class="active"><a href="{% url 'item-list-url'%}" class="nav-link style='color:blue'" data-toggle="tooltip" data-placement="top" title="Home page"><span class="icon-home">&nbsp;</span>Home</a></li>
                  <li><a href="{% url 'checkout-url'%}" class="nav-link" data-toggle="tooltip" data-placement="top" title="Checkout page"><span class="icon-money">&nbsp;</span>Checkout</a></li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'summary-url' %}"  class="nav-link" data-toggle="tooltip" data-placement="top" title="Cart page">
                  <span class="icon-shopping-cart">&nbsp;</span>Cart  
                  </a></li>
                  <li><a href="{% url 'account_logout' %}"  class="nav-link" data-toggle="tooltip" data-placement="top" title="Logout Page - Comeback again"><span class="icon-sign-out">&nbsp;</span>Logout</a> </li>
                  <li><a href="{% url 'profile_url' %}"  class="nav-link" data-toggle="tooltip" data-placement="top" title="profile page"> <span class="icon-user-circle">&nbsp;</span>Profile </a></li>
                  
                  {% else %}
                  <li><a href="{% url 'account_login' %}"  class="nav-link icon-login" data-toggle="tooltip" data-placement="top" title="Login page">Login</a></li>
                  <li><a href="{% url 'account_signup' %}"  class="nav-link" data-toggle="tooltip" data-placement="top" title="Signup page">Signup</a> </li>
                  
                  {% endif %}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="site-logo" style="color: black; font-size:20px;" data-toggle="tooltip" data-placement="top" title="Our Lovely Store" ><img width=50px src="{% static 'images/lavender22222.jpg' %}">Lavender Shop</li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a class="nav-link">Hi {{request.user.username}} !</a></li>

          </div>
          <div class="col-lg-0">               
            
              <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3 text-white"></span></a></div>
            <nav class="site-navigation text-left mr-auto " role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                <li><a href="{% url 'about_url'%}" class="nav-link "data-toggle="tooltip" data-placement="top" title="About us"><span class="icon-question">&nbsp;</span>About</a></li>
                <li><a href="{% url 'contact_url' %}" class="nav-link" data-toggle="tooltip" data-placement="top" title="Contact us"><span class="icon-phone">&nbsp;</span>Contact</a></li>
                
              </ul>
            </nav>
          </div>

          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
          
        
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" style="color:white;" type="button" data-toggle="dropdown" data-toggle="tooltip" data-placement="top" title="Products">Catigores
            <span ></span></button>
            <ul class="dropdown-menu">
              <li> <a class="test" tabindex="-1" href="{% url 'bed_list_url'%}"style="color:rgb(2, 150, 248);" data-toggle="tooltip" data-placement="top" title="Beds page">Beds <span class="caret"></span></a></li>
              <li><a class="test" tabindex="-1" href="{% url 'desk_list_url'%}"style="color:rgb(2, 150, 248);"data-toggle="tooltip" data-placement="top" title="Desks page">Desks <span class="caret"></span></a></li>
              <li><a class="test" tabindex="-1" href="{% url 'ligthing_list_url'%}"style="color:rgb(2, 150, 248);" data-toggle="tooltip" data-placement="top" title="Lamps page">Lamps <span class="caret"></span></a></li>

              </li>
                </ul>
          </div>
        </div>
<form action='{% url "prodct_catigory_url" %}' method='get'>
<input class="form-control mx-auto" name='q' type="text" placeholder="Search" aria-label="Search" data-toggle="tooltip" data-placement="top" title="Search for product">

     </form> 
     
    </div>


<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>

</div></div></div>

      </header>
       
        <title>{% block head_title %}{% endblock %}</title>
        
        {% block extra_head %}
        {% endblock %}
      <br><br><br><br><br>
      <!-- Messages Alert : -->
      <div class = "mt-5 pt-4">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      </div>
      
      {% block content %}
      {% endblock %}
      
      {% block extra_body %}
      {% endblock %}

    <!-- footer -->
    <footer class="site-footer">
      <div class="container" style="background-color:whitesmoke;">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>

              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="{%url 'services_url'%}">Terms of Service</a></li>
                  <li><a href="#">Privacy</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
              <form action="#" method="post" class="footer-suscribe-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
                  </div>
                </div>
            </div>


            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>

      </div>
    </footer>
    </div>

    <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/owl.carousel.min.js'%}"></script>
    <script src="{%static 'js/jquery.sticky.js'%}"></script>
    <script src="{%static 'js/jquery.waypoints.min.js'%}"></script>
    <script src="{%static 'js/jquery.animateNumber.min.js'%}"></script>
    <script src="{%static 'js/jquery.fancybox.min.js'%}"></script>
    <script src="{%static 'js/jquery.easing.1.3.js'%}"></script>
    <script src="{%static 'js/aos.js'%}"></script>

    <script src="{%static 'js/main.js'%}"></script>

  </body>

</html>

