{%extends 'base.html'%}
{% block content %}
{% load static %}

<main>



  
      <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 mx-auto"  style="background-image: url(static/images/hero_1.png);">
  
        <!-- Heading -->
        <h2 class="my-9 h2 text-center">Checkout form</h2>
  
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <div class="col-md-8 mb-4">
  
            <!--Card-->
            <div class="card ">
  
              <!--Card content-->
              <form method="POST" class="card-body" action="{% url 'checkout-url'%}">
                  {% csrf_token %}
  
                <!--address-2-->
                <div class="md-form mb-5 mx-auto">
                  
                  <div>Address*</div>
                  <input type='text'  placeholder='1234 Main St' id='shipping_address' name='address' class='form-control mx-auto"' />
                  <label for="shipping_address" class=""></label>
                </div>
                <div class="md-form mb-5">
                  <div>Address 2 (optional)</div>
                  <input type='text' placeholder='Apartment or suite' id='shipping_address2' name='address2' class='form-control text-center"' />
                  <label for="shipping_address2" class=""></label>
                </div>
                
                <!--Grid row-->
                <div class="row">
  
                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 mb-4">
  
                    <!-- <label for="country">Country</label> -->
                    <label for="country_id">Country</label>
                    <select class="custom-select d-block w-100" id="country" name="country"required>  
                    <option value="{{ form.country }}"></option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
  
                  </div>
                  <!--Grid column-->
  
                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4">
  
                    <label for="city_id">City</label>
                    <select class="custom-select d-block w-100"id="country"name="city"required>
                      <option value="{{ form.city }}"></option>
                      <div class="invalid-feedback">
                        Please select a valid city.
                      </div>
  
                  </div></div>
                  <div class="row">
                  <div class="md-form mb-5">
                  <div>   Phone Number :</div>
                  <input type='text'id='pn_id' name='phone_number' class='form-control' placeholder="07XX XXX XXX">
                  <label for="pn_id" class=""></label>
                  </div>
                  </div>
              
                  <hr class="mb-4">
                  <input class="btn btn-primary btn-lg btn-block" type="submit" value="Continue to checkout">
  
              </form>
  
            </div>
            <!--/.Card-->
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-4 mb-4">
  
            <!-- Heading -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Your cart</span>
              <span class="badge badge-secondary badge-pill">{{order.item.count}}</span>
            </h4>
  
            <!-- Cart -->
            <ul class="list-group mb-3 z-depth-1">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                {% for order_item in order.items.all %}
                <div>
                  <h6 class="my-0">{{order_item.quantity}}x{{order_item.item.title}}</h6>
                  <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">{{order_item.item.price}}JD</span>
              </li>{%endfor%}
            
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (JOD)</span>
                <strong>{{order.item.total_item_price}}JD's</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </main>
    <!--Main layout-->
  </body>
  
  </html>{%endblock%}