{%extends 'base.html'%}
{%block content%}
{%load static%}

    <!-- Features Section Begin -->
    <section class="hero-slider"> 
        <div class="row">
        <div class="text-center" style="background-image: url(static/images/bk.jpg); width: 100%; height: 500px; ">
        <br><br><br><br><br><br><br>
        <h1><p style="color: black;">Welcome to Our Shop.</p></h1>
        <h4><p style="color: black;">*Free delivary on orders over 100JOD</p></h4>
         </div>
        </div>
 
    <!-- Features Section End -->

    <!-- Latest Product Begin -->
    <br><br><br><br>
    <section class="latest-products spad">
        <div class="container">
            <div class="row" id="product-list">
              {% for item in object_list %}
                <div class="col-lg-3 col-sm-6 mix all dresses bags">
                  
                    <div class="single-product-item">
                            
                            <a href="#"><img src="{{item.image.url}}" alt=""></a>
                        <div class="product-text">
                            <a href="#"><p>{{item.get_catigory_display}}-{{item.get_item_type_display}}</p></a>
                            <a href="{{item.get_absolute_url}}">{{item.title}}</a>
                            <a href="{{item.get_absolute_url}}">{{item.price}}JOD</a>
                            <br>
                            <button class="btn btn-primary"  type="button"><a href="{{item.get_absolute_url}}" style="color: white;">Add to Cart</a></button>

                        </div>
                    </div>
                </div>{%endfor%}
        </div>
<br><br><br><br>
        <div class="features-ads">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-features-ads first">
                            <img src="{% static 'images/f-delivery.png'%}" alt="">
                            <h4>Cash on delivary</h4>
                            <p>Payment procedure is throguht cash on delivery </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads second">
                            <img src="{% static 'images/coin.png'%}" alt="">
                            <h4>100% Money back </h4>
                            <p>If you want to return products , you can do it easily 
                               only a press . </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads">
                            <img src="{% static 'images/chat.png'%}" alt="">
                            <h4>Online support 24/7</h4>
                            <p>We are here 24 hours, 7 days a week to serve you , contact us any time. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Lookbok Section Begin -->
   
    <!-- Lookbok Section End -->

</body>

</html>
{%endblock%}
