{% extends 'base.html'%}
{%block content%}
{%load static%}

<style>
.div{
opacity: 0.5;

}
</style>
<br><br><br><br><br><br><br>
<!--Main layout-->
<main>
  <div class="container">

    <div class="table-responsive text-nowrap">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>  
              <th scope="col">Item titel</th>
              <th scope="col">Item Price</th>
              <th scope="col">Item Quantity</th>
              <th scope="col">Total Price</th>
           
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for order_item in object.items.all%}
              <th scope="row">{{forloop.counter}}</th>
              <td>{{order_item.item.title}}</td>
              <td>{{order_item.item.price}} JD</td>
              <td>
                <form method="POST" action="{%url 'remove-singel-item-url' pk=order_item.item.pk %}" class="d-flex justify-content-left">
                  {%csrf_token%}
                  {{form.as_p}}
                <button style="background-color: white; border: white;" href="{%url 'remove-singel-item-url' pk=order_item.item.pk %}" value="icon-minus mr-2" >
                  <i class="icon-minus mr-2" ></i>
                </button>                 
                </form>
                &nbsp; {{order_item.quantity}}
                <form method="POST" action="{%url 'add-to-cart-url' pk=order_item.item.pk %}" class="d-flex justify-content-left">
                  {%csrf_token%}
                  {{form.as_p}}
                <button class="mr-2" style="background-color: white; border: white;" href="{%url 'add-to-cart-url' pk=order_item.item.pk %}">
                  <i class="icon-plus mr-2" ></i>
                </button>                 
                </form>
              <td>
                {{order_item.total_item_price}} JD's

                <form method="POST" action="{%url 'remove-url' pk=order_item.item.pk %}" class="d-flex justify-content-left">
                  {%csrf_token%}
                  {{form.as_p}}
                <button class="mr-2" style="background-color: white; border: white;" href="{%url 'remove-url' pk=order_item.item.pk %}">
                  <i style="color: red;" class="icon-trash float-right" ></i></a>
                </button>                 
                </form>                
              </td>
            </tr>
           <tr>
            {%empty%}
            <tr clospan='5'>
                <td>Your Cart is empty</td>
            </tr>
            <tr>
              <td colspan="5">
                <a class="btn btn-primary float-right" href="{% url 'item-list-url' %}">Continuou Shopping</a>
              </td> 
            </tr>
           {%endfor%}
           <td colspan="4"><b>Order Total Price : </b></td>
           <td><b>{{object.final_price}} JD's</b></td>
           </tr>  
           <tr>
          
            <td colspan="5">
            <a class="btn btn-primary float-right" href="{% url 'item-list-url' %}">Continuou Shopping</a>
            
            <a &nbsp; &nbsp;&nbsp; &nbsp; class="btn btn-warning float-right ml-2" href="{% url 'checkout-url' %}">Proceed to checkout</a>
            </td>
           </tr>

           
          </tbody>
          
        </table>
         
      </div>

    

  </div>
</main>
<!--Main layout-->

{%endblock%}