
{% extends 'base.html'%}
{%block content%}
<style>
</style>
<br><br><br><br><br><br><br><br>
<center><i class="icon-handshake fa-4x"></i></center>
<center><h1>Thank you for order from LAVENDER Shop </h1></center>

<center><h3><p style="color: teal;" >set back and relax,Your order's on it's way!</p></h3></center>
<center><h1><i style="font-size: 120px;" class="icon-heart "></i></h1></center>

<center><h5><pstyle="color: teal;">Delivery Time : 3-Days Work &nbsp;<i style="font-size: 25px;" class="icon-truck"></i></p></h5></center>
<center><h5><pstyle="color: teal;">Note : Your order Number is in your profile</p></h5></center>

{%endblock%}

